<div id="video">
  <div class="video-box">
    <div class="loading" [hidden]="!hidden">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <youtube-player [videoId]="id | splitYoutube" (ready)="savePlayer($event)" (change)="onStateChange($event)" [hidden]="hidden">
    </youtube-player>
  </div>
  <div class="row">
    <span>YouTube：</span>
    <input type="text" [(ngModel)]="id" (change)="changeSource()" placeholder="input the youtube url" class="text text-auto">
    <!--<button type="button" class="btn btn-orange" (click)="changeSource()">Load</button>-->
  </div>
  <div class="row">
    <span>Title：</span>
    <input type="text" [(ngModel)]="title" class="text text-auto" disabled>
  </div>
  <div class="row">
    <span>Timer：</span>
    <input type="text" [(ngModel)]="ctime" class="text" disabled>
    <span>Quality：</span>
    <input type="text" [(ngModel)]="quality" class="text" disabled>
  </div>
  <div class="row text-center lyrics-box">
    <div class="lyrics-area">
      <h3>Before</h3>
      <select #selBefore class="selLyrics" multiple="multiple">
        <option [value]="value" *ngFor="let value of txtBefore ; trackBy:trackByFn ; let key=index" style="padding:4px;font-size:16px;">{{ value}}</option>
      </select>
      <!--<textarea #areaBefore cols="50" rows="10" [(ngModel)]="txtBefore" placeholder="Paste Lyrics"></textarea>-->
    </div>
    <div class="lyrics-control">
      <button type="button" class="btn btn-orange lyrics-mark" (click)="appendLyrics(selBefore,selAfter)">Mark <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
      <!--<button type="button" class="btn btn-orange lyrics-mark" (click)="markLyrics(areaBefore,areaAfter)">Mark <i class="fa fa-arrow-right" aria-hidden="true"></i></button>-->
    </div>
    <div class="lyrics-area">
      <h3>After</h3>
      <select #selAfter class="selLyrics" multiple="multiple">
        <option [value]="value" *ngFor="let value of txtAfter ; trackBy:trackByFn ; let key=index" style="padding:4px;font-size:16px;">{{ value }}</option>
      </select>
      <!--<textarea #areaAfter cols="50" rows="10" [(ngModel)]="txtAfter" placeholder="Result of Lyrics"></textarea>-->
    </div>
  </div>
</div>
