<div id="menu">
  <h2 class="menu-title">Menu</h2>
  <ul class="menu-list">
    <li><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
    <li><a href="#"><i class="fa fa-music" aria-hidden="true"></i>Music</a></li>
    <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i>Search</a></li>
    <li><a href="#"><i class="fa fa-eye" aria-hidden="true"></i>Live</a></li>
    <li><a href="#"><i class="fa fa-edit" aria-hidden="true"></i>Edit</a></li>
    <li><a href="#"><i class="fa fa-list" aria-hidden="true"></i>List</a></li>
  </ul>

</div>
